<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reproadminv2">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="Repro Admin App"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ReproAdminV2">
        <activity
            android:name=".UsersActivity"
            android:exported="false" />
        <activity
            android:name=".TrashBagActivity"
            android:exported="false" />
        <activity
            android:name=".row_main_log"
            android:exported="false" />
        <activity
            android:name=".TrashActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".LogActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>